/* ==========================================================================
      Skeleton 骨架屏   https://github.com/Itrulia/nova-skeletons
========================================================================== */

%c-skeleton__animation {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background-color: $color-skeleton-spinner;
    background-image: linear-gradient(to right, $color-skeleton-background 8%, $color-skeleton-spinner 18%, $color-skeleton-background 33%);
    background-size: 800px 104px;
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0
    }
    100% {
        background-position: 350px 0
    }
}


.c-skeleton__figure {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    @extend %c-skeleton__animation;
}

.c-skeleton__text {
    height: px2vw(14);
    width: 65%;
    overflow: hidden;
    border-radius: 2px;
    @extend %c-skeleton__animation;

    @media screen and (min-width: map-get($grid-breakpoints, 'lg')){
        height: 14px;
    }
}


.c-skeleton__text-circle {
    height: px2vw(14);
    width: 65%;
    overflow: hidden;
    border-radius: 7px;
    @extend %c-skeleton__animation;

    @media screen and (min-width: map-get($grid-breakpoints, 'lg')){
        height: 14px;
    }
}



.c-skeleton__avatar {
    height: px2vw(24);
    width: px2vw(24);
    border-radius: 999px;
    overflow: hidden;
    display: inline-flex;
    @extend %c-skeleton__animation;


    @media screen and (min-width: map-get($grid-breakpoints, 'lg')){
        height: 24px;
        width: 24px;
    }
}





/* ==========================================================================
      寬度
========================================================================== */
.w-20{width: 20%;}
.w-30{width: 30%;}
.w-40{width: 40%;}
.w-50{width: 50%;}
.w-60{width: 60%;}
.w-70{width: 70%;}
.w-80{width: 80%;}
.w-90{width: 90%;}
.w-100{width: 100%;}
